<!-- document title도 변수처럼 관리해보자 -->
<title><%=title%></title>

<!-- bootstrap cdn을 매번 불러오면 유지보수성이 떨어지니까 새로 파일을 만들어버림 -->
<link
  href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css"
  rel="stylesheet"
  integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9"
  crossorigin="anonymous"
/>
<script
  src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
  crossorigin="anonymous"
></script>

<!-- 공통되는 css불러오기 -->
<link rel="stylesheet" href="/public/css/index.css" />
<!-- 미들웨어로 등록했기 떄문에 href에 이렇게 작성할 수 있다
이걸 작성할 떄 public으로 해야지 static으로하면 스타일 먹히지 않음
왜냐하면 public으로 실제 주소 지정을 할 때 사용할 주소를 지정해두었기 때문임 -->

<!-- 공통되는 js 불러오긴 -->
<script src="/public/js/index.js"></script>
