<!DOCTYPE html>
<html lang="en">
  <%- include('./head') %>
  <body>
    <h1>ํ์๊ฐ์, ๋ก๊ทธ์ธ, ํ์์๋ณด์์ ์ค์ต (with. ์ธ์)</h1>
    <%if(isLogin){%>
    <p><%= data.userSession%>๋ ํ์ํฉ๋๋ค ๐๐ป</p>
    <a href="/register">ํ์๊ฐ์</a>
    <a href="/login">๋ก๊ทธ์ธ</a>
    <a href="/users">์์ฒดํ์</a>
    <a href="/profile">๋ดํ๋กํ</a>
    <%}else{%>
    <p>๋ก๊ทธ์ธ์ ์์ง ํ์ง ์์ผ์จ๊ตฐ์! ๋ก๊ทธ์ธ์ ์งํํด๋ณด์ธ์!</p>
    <a href="/register">ํ์๊ฐ์</a>
    <a href="/login">๋ก๊ทธ์ธ</a>
    <a href="/users">์์ฒดํ์</a>
    <%}%>
  </body>
  <script></script>
</html>
