<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>폼</title>
  </head>
  <body>
    <h1><%= title%></h1>

    <h2>GET 요청</h2>
    <form action="/getForm" method="get">
      <input
        type="text"
        placeholder="ID는 최소 3글자"
        name="id"
        required
        minlength="3"
      />
      <!-- 여기에서 name에 입력한 속성값이 url에 드러나게됨 -->
      <!-- input태그에 required 속성을 넣으면 빈 값을 넣었을 때 입력값을 넣으라고 알림창이 뜸-->
      <br />
      <input
        type="password"
        placeholder="PW는 최소 4글자"
        name="pw"
        required
        minlength="4"
      />
      <br />
      <input type="email" placeholder="EMAIL" name="email" required />
      <!-- 타입을 email로 해야 @를 포함하여 입력하라는 알림창이 뜸==> 올바른 input type을 사용하는 것이 필요하다!(mdn에서 사용하고자 하는 input type이 존재하는지 확인하는 습관!) -->
      <br />
      <input type="number" placeholder="grade" name="grade" />
      <!-- 문제1. get요청 폼에서 grade항목은 필수값이 아님 => get폼에 빈값을 넣은채 제출을 해도 학년이군요!가 뜸 -->
      <button>제출</button>
    </form>

    <h2>POST 요청</h2>
    <!-- 문제2. post 요청폼에서 email.grade항목은 좆ㄴ재하지조차 않으나 폼을 제출하면 학년, 이메일에 대한 div 데이터가 노출되고 있음 -->
    <!-- 해결1. get 요청 결과, post 요청 결과 ejs를 각각만든다-> 자원낭비 -> 사용하지 않음 -->
    <!-- 해결2. ejs문법으로 "조건문"을 사용하여 데이터가 존재할 때만 해당 정보를 보여줌 -->
    <!--  -id, pw 무조건 넘어오도록 했으니 조건문 필요 없음 -->
    <!--  -email,grade는 조건문을 이용해 값이 존재할 때만 나타나도록 -->
    <!-- required 속성; 폼 요소에 값이 반드시 들어가야하는지 여부를 결정 -->
    <!-- pattern 속성: required속성과 관계없이 폼 요소에 값이 입력되었을 때 그 입력된 값에 대한 검증을 의미 -->
    <form action="/postForm" method="post">
      <input
        type="text"
        placeholder="ID"
        name="id"
        required
        pattern="^([a-zA-Z0-9가-힣]){4,}$"
        title="아이디는 대소문자, 한글, 숫자로 구성된 4자 이상의 문자여야 합니다."
      />
      <!-- title에는 정규식에 대한 설명 -->
      <input
        type="password"
        placeholder="PW"
        name="pw"
        required
        pattern="^([a-z0-9]){8,12}$"
        title="비밀번호는 소문자, 숫자로 구성된 8자이상 12자 이하의 문자여야 합니다."
      />
      <button>제출</button>
    </form>
  </body>
</html>
