header {
  display: flex;
  padding-left: 10%;
  padding-right: 10%;
  justify-content: space-between;
  text-align: justify;

  height: 100px;
  width: 1000px;

  font-size: 40px;

  background-color: rgb(10, 111, 151);
}

ul {
  flex-flow: row;
  display: inline-block;
  display: flex;
  justify-content: space-evenly;
  margin-top: 0px;
}
li {
  padding-right: 15px;
}
@media (max-width: 768px) {
  header {
    height: 60px;
    display: flex;
    flex-direction: column;
  }

  ul {
    flex-flow: column;
    background-color: skyblue;
  }
}
