header {
  display: flex;
  padding-left: 10%;
  padding-right: 10%;
  justify-content: space-between;

  align-items: center;
  height: 100px;
  width: 1000px;

  font-size: large;

  background-color: rgb(10, 111, 151);
}
span {
  align-items: ;
}
ul {
  flex-flow: row;
  display: inline-block;
  display: flex;
  justify-content: space-evenly;
}
li {
  margin-right: 10px;
}
@media (max-width: 768px) {
  header {
  }
  ul {
    background-color: skyblue;
    flex-direction: column;
  }
}
