.box{
    width:100px;
    height:100px;
    background-color:cyan;
    position:relative;

    /*  - animation-name: @keyframes 애니메이션 이름 지정
        - 시작: from or 0%
        - 중간: 0~100%
        - 끝: to or 100%
    - animation-duration: 한 사이클의 애니메이션이 얼마에 걸쳐 일어날지 결정 (단위: s)
    - animation-delay: 요소(element)가 로드된 후, 언제 애니메이션을 시작할지 결정 (단위: s)
    - animation-iteration-count: 애니메이션 반복 횟수 (default: 1, infinite: 무한 반복)
    - animation-timing-function: 중간 상태들의 전환을 어떤 시간 간격으로 진행할지 지정
        - linear, ease, ease-in, ease-out, ease-in-out 등
    - animation-direction: 애니메이션 종류 후 반복될 때 진행방향 지정
    -   normal(쓸일 없음), reverse(반대방향), alternate(반복될때마다 방향 바꿔줌), alternate-reverse(시작을 반대부터 해서 반복될때마다 방향 바꿔줌)
    -   alternate:from->to 방향으로 애니메이션 진행 => (다음 회차) to->from방향을 바꿔가며 반복
*/

    animation-name: my-anim;
    animation-duration:2s;
    animation-delay:1s;
    animation-iteration-count:infinite;
    animation-timing-function:ease-in-out;
    /* animation-timing-function의 경우 하나씩 적용해보고 마음에 드는 것을 사용하면 좋음! */
/* 👍 animation-timing-function 시각적으로 확인하기 좋은 사이트:https://matthewlein.com/tools/ceaser */
}
/* my-anim:애니메이션의 이름(개발자 마음대로 짓기) */
@keyframes my-anim{
    0%{/*==to*/
        /* box에 position:relative가 있기 때문에 유효함 */
        left:0px;

    }
    25%{
        left:200px;
    }
    50%{/*duration이 2초니까 이때는 1초일때*/
    left:400px;
    }
    75%{
    left:200px;
    }
    100%{/*from*/
    left:0px;
    }
}



.bounce-ball1{
    width:100px;
    height:100px;
    border-radius:50%;
    /* 원모양 만들기 */
    background-color:black;
    position:relative;
    left:100px;
    top:0px;
    animation-name:bounce1;
    animation-duration:0.5s;
    animation-timing-function: ease-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;

    /* 애니메이션 단축 프로퍼티 (animation: animation-name duration timing-function iteration-count direction*/
    animation: bounce1 0.5s ease-out infinite alternate;
    
}
@keyframes bounce1{
    to{
top:50px;
    }
    from{
top:300px;
    }
}

/* 브라우저의 바닥에서 튕기는 애니메이션 만들어보기 */
.bounce-ball2{
    width:50px;
    height:50px;
    border-radius:50%;
    background-color:tomato;
    position:absolute;/*부모요소인 body를 기준으로 위치를 잡음*/

    animation-name: bounce2 ;
    animation-iteration-count: infinite;
    animation-duration:1s;
}
@keyframes bounce2{
    from, to{
        bottom:0px;
        animation-timing-function:ease-out;/*animation에 대한 속성도 키프레임에 넣을 수 있다*/
/*0px에서 정상속도록 시작->속도 점점 느려지면서 300px까지*/
    }
    50%{
        bottom: 300px;
        animation-timing-function:ease-in;
        /*300px에서  천천히 시작->0px로 가면서 정상속도로 끝*/
    }

}